article{
    display: inline-block;
    width: 370px;
    transition: box-shadow 0.2s ease;
    background-color: white;
    margin: 40px;
    border-radius: 10px;
    cursor: pointer;
    

}

article > img{
    width: inherit;
  border-top-right-radius: 10px;
  border-top-left-radius:10px;
}

article > p{
    margin: 10px 15px;
}
article:hover{
    box-shadow: 0px 3px 5px rgb(0,0,0, 20%);
}